<h2>RestFull API using Observable</h2>
<div class="continer">
    
<button class="btn btn-info" [routerLink]="['/EmployeeData']">Click For Get Data</button><br><br>

<h3><u>Post Method</u></h3>

<div class="form-style-9">

<form [formGroup]="formData" (ngSubmit)="click()">

    <div >
        <label >Enter EmpID</label>
        <input type="text" name="id" class="form-control" [formControl]="formData.controls['id']" required>
        <div class="alert alert-danger" *ngIf="formData.controls['id'].touched && !formData.controls['id'].valid">
            Must Enter EmpID
          </div>
          
    </div>
    
   
    
    <div>
        <label>EmpName</label>
        <input type="text" name="Name" class="form-control" [formControl]="formData.controls['Name']" required>
        <span [hidden]="formData.controls['Name'].valid" style="color: red;">Enter Employee Name</span>
    </div>
    
    <div>
        <label>EmpPostion</label>
        <input type="text" name="Postion" class="form-control" [formControl]="formData.controls['Postion']" required>
        <span [hidden]="formData.controls['Postion'].valid" style="color: red;">Enter Employee Postion</span>
    </div>

    <div >
        <label>EmpSalary</label>
        <input type="text" name="Salary" class="form-control" [formControl]="formData.controls['Salary']" required>
        <span [hidden]="formData.controls['Salary'].valid" style="color: red;">Enter Employee Salary</span>
    </div>
    
        <input type="submit" value="submit"  class="btn btn-info" [disabled]="!formData.valid">
    
 </form>
</div>