<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a style="color:white" class="nav-link" routerLink="Home">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
            <a style="color:white" class="nav-link" routerLink="Employeedetails">Employee_Details</a>
          </li>

        <li class="nav-item">
          <a style="color:white" class="nav-link" routerLink="Login">LogIn</a>
        </li>
        
        
      </ul>
      
    </div>
  </nav>