<h1><u>Hello, Nimap Infotech </u> </h1><br><br>
<h1> Welcome to <strong>{{Test}}</strong></h1><br><br>
    


    
<label>Enter Text here:-</label>
<input [(ngModel)]="name" Placeholder="Enter Text Here" type="text">
{{name}}



