<div class="continer">
<table class="table table-bordered"  >
    <thead class="thead-light" >
    <tr >
    <th>EmpId</th>
    <th>Emp_Name</th>
    <th>Emp_Position</th>
    <th>Salary</th>
</tr>
</thead>
<tbody >
    <tr *ngFor="let aa of details">
    <td>{{aa.id}}</td>
    <td>{{aa.Name}}</td>
    <td>{{aa.Postion}}</td>
    <td>{{aa.Salary}}</td>
</tr>
</tbody>
</table>
<button class="btn btn-info" [routerLink]="['/Employeedetails']">Back</button>
</div>
