
<h2>Reactive Login Form</h2>

<div class="form-style-9">

<form [formGroup]="formData" (ngSubmit)="click()">

<div class="form-group">
    <label >Enter Name</label>
    <input type="text" name="name" class="form-control" [formControl]="formData.controls['name']" required>
    <div class="alert alert-danger" *ngIf="formData.controls['name'].touched && !formData.controls['name'].valid">
        Name is required.
    </div>

</div>

<div class="form-group">
    <label> Enter Email ID</label>
    <input type="email" name="email" class="form-control" [formControl]="formData.controls['email']" required>
    <div class="alert alert-danger" *ngIf="formData.controls['email'].touched && !formData.controls['email'].valid">
      Email must be a valid email address
    </div>
    
</div>

<div class="form-group">
    <label>Password</label>
    <input type="password" name="Password" class="form-control" [formControl]="formData.controls['Password']" required>
    <div class="alert alert-danger" *ngIf="formData.controls['Password'].touched && !formData.controls['Password'].valid">
        Password Must Be 6 Latter.
      </div>
</div>

<div class="form-group">
    <label>Confirm Password</label>
    <input type="password" name="conPass" class="form-control" [formControl]="formData.controls['conPass']" required>
    <div class="alert alert-danger" *ngIf="formData.controls['conPass'].touched && !formData.controls['conPass'].valid">
        Password Not match
      </div>
      
</div>

    <input type="submit" value="submit"  class="btn btn-info" [disabled]="!formData.valid">

</form>
</div>